

<img src="https://static.vecteezy.com/system/resources/previews/004/941/847/large_2x/cosmetic-background-for-product-branding-and-packaging-presentation-geometry-form-circle-molding-on-podium-stage-with-shadow-of-leaf-background-design-eps10-vector.jpg" alt="">
<div class="employees" *ngIf="isVisible" >
    <form action="">
        <h2>Create Account</h2>
        <label id="name" for="">Name :</label>
        <input type="textarea" name="name" id="name1" >
        <br><br>
        <label id="name" for="">Email Id  :</label>
        <input type="textarea" name="name" id="email"  >
        <br><br>
        <label for=""> Password:</label>
        <input type="email" name="mail" id="name2" >
        <br><br>
        <label id="phone" for="">Phone Number : </label>
        <input type="tel" name="phone" id="phone">
        <br><br>
        <label id="gender" for="gender">Gender :</label>
        <input type="radio" name="male" id="male" value="male">
        <label for="male">Male</label>
        <label for="female"></label>
        <input type="radio" name="female" id="female" value="female">
        <label for="female">Female</label>
        <br><br>
        <label for="">Date of Birth : </label>
        <input type="date" name="" id="date">
        <br><br>
        <label for="">Nationality : </label>
        <select name="nationality" id="nationality">
            <option value="">Choose</option>
            <option value="">Australia</option>
            <option value="">USA</option>
            <option value="">India</option>
            <option value="">China</option>
            <option value="">Japan</option>
            <option value="">Russia</option>
        </select><br><br>
        <label for="">Department : </label>
        <select name="Department" id="Department">
            <option value="">Choose</option>
            <option value="">design</option>
            <option value="">analysis</option>
            <option value="">manufacture</option>
            <option value="">assembling</option>
            <option value="">test-drive</option>
            <option value="">launch</option>
        </select><br><br>
        <label for="">Relationship : </label>
        <input type="radio" name="married" id="married">
        <label for="">Married</label>
        <input type="radio" name="unmarried" id="unmarried">
        <label for="">Unmarried</label>
        <br><br>
        <label  for="" item id="add" > Address :</label>
        <input type="textarea" name="" id="address"  >
        <br><br>
        <!-- <label  for="">Address 2:</label>
        <input type="text" name="" id="address2">
        <br><br> -->
        <label for="">Bank Account : </label>
        <input type="tel" name="account" id="accnum">
        <br><br>
        <label for="">IFSC : </label>
        <input type="text" name="ifsc" id="ifsc"><br>
      <button id="btn">Reset</button>
            
        <!-- <input type="reset" value="Reset" id="btn"> -->
        <!-- <input type="button" value="Submit" id="btn1"> -->
        <button type="submit" id="btn1">Submit</button>
        <p>Already have an account ? <a href="" [routerLink]="['/login']" (click)="changeView()" >Login</a></p>
    </form>
</div>
