
<section *ngIf="isVisible" >
    <img id="img1" src="https://idtxs3.imgix.net/si/40000/7F/61.png?w=1200&fit=fill&bg=ffffff&border=0&q=50" alt="" >
    
     <MARQUEE ONMOUSEOVER="this.stop()" id="floating" ONMOUSEOUT="this.start()" BEHAVIOR="alternate">Production Line </MARQUEE>
    <div class="first"> 
      <h2>First Stage</h2>
      <p>The sheet metal parts for the bodywork are created <br> stamped by robots</p>
      <p>Frames</p>
      <p>Doors</p>
      <p>Hoods</p>
      <p>Roofs</p>
      <p>Add to main frame of car</p>
    </div>
  
  <div class="second" >
    <h2>Second Stage</h2>
      <p>The frame is created and the parts are ready to be assembled</p>
      <p>The car will be loaded onto a production line</p>
      <p>The car will travel along a moving assembly</p>
        <p> line in a factory as robots and work</p>
      <p> Robotic work cells will work alone</p> 
      <!-- <p>weld, solder, screw, and glue parts onto the car. </p>  -->
  
    <button  [routerLink]="['/assembling']" (click)="changeView()" (click)="onsubmit()" id="progress"  >InProgress</button>
    <button [routerLink]="'/work-section'" (click)="changeView()"   id="back" >Back</button>
    <button [routerLink]="['/test-drive']" (click)="oncomplete()" id="completed" >Completed</button>
  
  </div>
  </section>