<!-- <section>
    <div class="tasks" *ngIf="isVisible" >  
    
    <form action="">
          <h2>Tasks </h2>
          <hr>
          <br>
          <p>Interior - sketches, theme selection, model build, continuous reviews</p>
          <input type="radio" id="task1" name="one" value="task1">
            <label for="tasks1"> <b> Completed</b></label>
            <input type="radio" id="task2" name="one" value="task2">
            <label for="task2"><b>Not completed</b></label><br>
    
          <p>Exterior - same as above until design freeze</p>
          <input type="radio" id="task3" name="two" value="task3">
            <label for="task3"> <b> Completed</b></label>
            <input type="radio" id="task4" name="two" value="task4">
            <label for="task4"><b>Not completed</b></label><br>
    
          <p>Concept creation for management presentation, potential auto-show use</p>
          <input type="radio" id="task5" name="three" value="task5">
            <label for="task5"> <b> Completed</b></label>
            <input type="radio" id="task6" name="three" value="task6">
            <label for="task6"><b>Not completed</b></label><br>
    
          <p>Exterior colors, interior-trim materials selection</p>
          <input type="radio" id="task7" name="four" value="task7">
            <label for="task7"> <b> Completed</b></label>
            <input type="radio" id="task8" name="four" value="task8">
            <label for="task8"><b>Not completed</b></label><br>
    
          <p>Management and engineering reviews</p>
          <input type="radio" id="task9" name="five" value="task9">
            <label for="task9"> <b> Completed</b></label>
            <input type="radio" id="task10" name="five" value="task10">
            <label for="task10"><b>Not completed</b></label><br>
    
          <button  [routerLink]="['/status']" (click)="changeView()" id="update">Update Status</button>
          <button [routerLink]="'/work-section'" (click)="changeView()"  id="back" >Back</button>
    
    </form>
    </div>
    </section> -->
    <section>
          <div class="tasks" *ngIf="isVisible"  >
            <h2>Tasks </h2>
            <hr>
            <br>
            <p>Interior - sketches, theme selection, model build, continuous reviews</p><br>
            <p>Exterior - same as above until design freeze</p><br>
            <p>Concept creation for management presentation, potential auto-show use</p><br>
            <p>Exterior colors, interior-trim materials selection</p><br>
            <p>Management and engineering reviews</p><br>

            <button  [routerLink]="['/status']" (click)="changeView()" id="update">Update Status</button>
            <button [routerLink]="'/work-section'" (click)="changeView()"  id="back" >Back</button>
            <button [routerLink]="'/work-section'" (click)="changeView()" id="create" >Create</button>

          </div>
    </section>