.tasks{
    text-align:center;
    margin-top: 60px;
    background-color:black;
    font-weight:bolder;
    color: crimson;
    padding: 10px 30px;
    width: max-content;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 0.9;
    margin-left: 420px;
}

section{
    background-color:#042331;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0px;
}

#update{
    margin-top: 20px;
margin-bottom: 20px;
cursor: pointer;
}

#update:hover{
    color: wheat;
    background-color:crimson;
}

#back{
    border-radius: 3px;
    padding: 10px 15px;
    width: 100px;
    color: white;
    background-color: black;
    top:20px;
    right: 50px;
    position:absolute;
}

#back:hover{
    background-color: wheat;
    color: black;
    cursor: pointer;
    
}

#create{
    border-radius: 3px;
    padding: 10px 15px;
    width: 100px;
    color: white;
    background-color: black;
    top:70px;
    right: 50px;
    position:absolute;
}
#create:hover{
    background-color: wheat;
    color: black;
    cursor: pointer;
    
}