
<section *ngIf="isVisible">
    <img id="img1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQomG1rAeSYybO5PgS9U87lhQPid7MOIg_rrQ&usqp=CAU" alt="" >
    
     <MARQUEE ONMOUSEOVER="this.stop()" id="floating" ONMOUSEOUT="this.start()" BEHAVIOR="alternate">Analysing of Production </MARQUEE>
    <div class="first"> 
  
    <p>Target customers </p> 
    <p>set curb-weight</p>
    <p> fuel-economy </p>
    <p> performance goals</p>
    <p>Powertrain selection</p> 
  </div>
  
  <div class="second" >
    <p>Budget funding</p>
     <p> pricing </p>
      <p> investment considerations</p>
      <p> Computer-aided-engineering (CAE) </p> 
      <p>Advertisements</p> 
  
    <button id="progress" [routerLink]="['/analysis']" (click)="changeView()" (click)="onsubmit()"  >InProgress</button>
    <button id="completed" [routerLink]="['/manufacture']" (click)="changeView()" (click)="oncomplete()">Completed</button>
    <button id="create" [routerLink]="['/manufacture']" (click)="changeView()" (click)="oncreate()" >Create</button>
    <button id="back" [routerLink]="'/work-section'" (click)="changeView()">Back</button>
  </div>
  
  </section>