<img *ngIf="isVisible" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLGt2BKX0hyoIYlLBp8sFP8nChlK-Q6Ldp1w&usqp=CAU" alt="">
<div class="first"  > 

<p> Market research</p>
<p>  Naming research (if needed)</p>
<p>  Define pricing</p>
<p> Develop marketing theme</p> 
<p>  Introduce product to dealer body</p>
<p>  Plan logistics (flow of vehicles to dealers)</p>
<p> Create promotional (media and advertising) materials</p>
<p>  Craft presentations for management, auto shows, press, social media, dealers, analysts</p>

</div>
<!-- <button id="launch" [routerLink]="'/dispatch'" (click)="changeView()" >Launch </button> -->
<button [routerLink]="'/work-section'" (click)="changeView()"  id="back" >Back</button>
<button [routerLink]="'/work-section'" (click)="changeView()" id="create" >Create</button>
<button [routerLink]="['/dispatch']" (click)="changeView()" id="launch" (click)="onlaunch()" >Launch </button>
