
img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.first{
    position: absolute;
    color:cornflowerblue;
    text-align: center;
    margin-left: 250px;
    margin-top: 30px;
    line-height: 0px;
    font-weight: bolder;
    font-size: x-large;
    top: -5px;
}
p{
    line-height: 30px;
}
 .first:hover{
    color: crimson;
}

#launch{
    color: whitesmoke;
    background-color: black;
    border-radius: 3px;
    width: max-content;
    padding: 10px 30px;
    top: 500px;
    margin-left: 650px;
    position: absolute;
}

#launch:hover{
    color: black;
    background-color:wheat;
}



#back{
    color: crimson;
    background-color: black;
    top: 40px;
    right: 30px;
    width: max-content;
    padding: 10px 25px;
    position: absolute;
    border-radius: 3px;
}
#create{
    color: crimson;
    background-color: black;
    top: 100px;
    right: 30px;
    width: max-content;
    padding: 10px 20px;
    position: absolute;
    border-radius: 3px;    
}

#back:hover,#create:hover{
    color: black;
    background-color: wheat;
    cursor: pointer;
}
