
<div class="manufacture" *ngIf="isVisible" >

    <MARQUEE ONMOUSEOVER="this.stop()" id="floating"  ONMOUSEOUT="this.start()" BEHAVIOR="alternate">Work to be done </MARQUEE>
  
  <p>Design for manufacturing and assembly</p>
  <p>Tooling design </p>
  <p> construction</p>
  <p> validation</p>
  <p>Pilot builds to validate process and parts</p>
  <p>On-line preproduction builds</p>
  <p>Quality improvements</p>
  <p>Confirm that production vehicle meets performance targets</p>
  <p>Train workforce</p>
  <p>Construct or modify production facilities</p>
  <img  id="backimage" src="https://img.i-scmp.com/cdn-cgi/image/fit=contain,width=425,format=auto/sites/default/files/styles/768x768/public/d8/images/methode/2021/05/27/f3052bf2-bee2-11eb-9b2e-758b3029e26f_image_hires_210200.jpg?itok=j4eIY35o&v=1622120533" alt="">
  
  </div>
  <div class="buttons">
  
  <button [routerLink]="['/manufacture']" (click)="changeView()" (click)="onsubmit()" id="progress">InProgress</button>
  <button [routerLink]="['/assembling']" (click)="changeView()" (click)="oncomplete()" id="completed">Completed</button>
  <button [routerLink]="['/assembling']" (click)="changeView()" (click)="oncomplete()" id="create" >Create</button>
  <button [routerLink]="'/work-section'" (click)="changeView()"  id="back" >Back</button>
  </div>