<section *ngIf="isVisible" >
<!-- <div id="one">
    <img    src="https://www.elemental.co.za/cms/resources/uploads/work/38/71a62b8bf3ae.jpg" alt="">
</div>   -->
<!-- <div id="two" > 
    <img    src="https://cdn.motor1.com/images/mgl/x1EPv/s1/audi-artemis-project-will-give-the-company-a-highly-efficient-electric-car.webp" alt="">
</div> -->
  <!-- <div id="three" >
    <img  src="https://media.zigcdn.com/media/content/2020/Feb/zw-hbx-1-1.jpg" alt="">
</div> -->
<div id="four">
    <img   src="https://i.ytimg.com/vi/qT-HqFb1BLY/maxresdefault.jpg" alt="">
</div>
</section>

<button  id="logout" [routerLink]="['/login']" (click)="changeView()">Logout</button>