
.first{

    color: black;
    height: 300px;
    width: 100%;
    position: absolute;
    transition: all .5s ease;
    transform: translateX(20);
    position: absolute;
    margin-top: 0px;
    font-weight: bolder;
    font-size: larger;
    margin-bottom: -10px;
}

img{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: .5;
}

 .first p{
    text-align: center;
    line-height: 20px;
    font-weight: bolder;
    font-size:x-large
}

#floating{
    font-size: 40px;
    color:black;
    position: absolute;
}
p:hover{
    color: crimson;

}

#InProgress{
color: white;
background-color: black;
border-radius: 3px;
cursor: pointer;
padding: 5px 15px;
margin-top: 50px;
margin-left: 620px;
position: relative;
}

#completed{
    color: white;
background-color: black;
border-radius: 3px;
cursor: pointer;
padding: 5px 15px;
margin-left: 30px;
position: relative;
}

#creatework{
    color: white;
background-color: black;
border-radius: 3px;
cursor: pointer;
padding: 5px 15px;
position: absolute;
margin-top: 50px;
margin-left: 490px;
}

#creatework:hover{
    color: black;
    background-color: crimson;
}
#InProgress:hover{
    color:  black;
    background-color: crimson;
    /* transition: all .7s  ease; */
}

#completed:hover{
    color: black;
    background-color: crimson;
}

#back{
    color: wheat;
    background-color: black;
    position: absolute;
    margin-top: 100px;
    margin-left: -228px;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 30px;
    font-weight: bold;
}

#back:hover{
    color: crimson;
    background-color:black;
}